.container {
    max-width: 1400px;
    margin: 1.6rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    /* Melhora o espaçamento entre os elementos */
    @media (max-width: 768px) {
        padding: 0 1rem; /* Reduz o padding em telas menores */
    }
}

.container h1 {
    color: var(--white);
    margin-bottom: 3%;
}

.containerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Centraliza os itens verticalmente */

    button {
        background: transparent;
        border: 0;
        margin-left: 1rem;
        margin-bottom: 3%;
        cursor: pointer; /* Aplica o cursor de pointer ao botão */
    }
}

.headColumns {
    display: flex;
    justify-content: space-between;
    gap: 2rem; /* Aumentei o espaçamento entre as colunas */

    /* Responsividade: ajusta as colunas em telas menores */
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 2rem; /* Aumenta o espaço entre as colunas em telas menores */
    }
}

.column {
    width: 48%;
    /* Responsividade: ajusta a largura da coluna em telas menores */
    @media (max-width: 768px) {
        width: 100%; /* Coloca as colunas em 100% de largura em telas pequenas */
    }
}

.card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    cursor: pointer;

    /* Linha de status (lateral) */
    &.pending::before, &.completed::before, &.paid::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 8px;
        height: 100%;
        border-radius: 0.3rem 0 0 0.3rem;
    }

    &.pending::before {
        background-color: #e63946; /* Cor para pedidos em aberto (vermelho) */
    }

    &.completed::before {
        background-color: #f1c40f; /* Cor para pedidos prontos (amarelo) */
    }

    &.paid::before {
        background-color: #2ecc71; /* Cor para pedidos pagos (verde) */
    }

    h3.cardTitle {
        font-size: 1.1rem; /* Ajusta o tamanho da fonte */
        margin: 0;
        padding-left: 16px;
        color: #333;
        flex-grow: 1; /* Faz o título ocupar o espaço restante */
    }

    .finishButton {
        font-size: 0.9rem;
        padding: 6px 10px;
        background-color: #28da84;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.2s ease, transform 0.2s ease;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
        margin-left: auto;

        &:hover {
            background-color: #20905d;
            transform: translateY(-2px);
            color: rgb(255, 255, 255);
        }
    }

    /* Efeito de hover */
    &:hover {
        background-color: #e0e0e0;
        transform: scale(1.02);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}

.emptyList {
    font-size: 1.2rem;
    color: var(--gray-100);
}

/* Adicionando efeitos de transição nas colunas */
.column {
    transition: transform 0.3s ease;
    /* Efeito de hover nas colunas */
    &:hover {
        transform: scale(1.02);
    }
}

.time {
    font-size: 15px;
    color: #555;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    text-align: center; /* Garante que o texto fique centralizado */
}
